// ==========================================================================
// Callout Atom
// ==========================================================================

.callout {
  // Trim the callout so the last child doesn't have spacing bottom
  @include trim();

  padding: spacing(base);
  margin: spacing(base 0);
  background: palette("grey");

  @include respond-to(medium) {
    padding: spacing(double);
  }
}

.callout:first-child {
  margin-top: 0;
}
