// ==========================================================================
// Video Atom
// ==========================================================================

// wraps the iframe embed so we can use fluid vids and still get rounded corners
.video {
  overflow: hidden;
  border-radius: rem-calc(5);

  &,
  video {
    max-width: 100%;
  }
}
