// ==========================================================================
// Meta Atom
// ==========================================================================

.meta {
  display: block;
  padding-bottom: spacing(base);
  font-size: ms(0, $thread: small);
  font-weight: 700;
  letter-spacing: 3.14px;
  line-height: 1.2;
  text-transform: uppercase;

  // Color any element within the meta-title
  &,
  & > a {
    color: palette("black");
  }

  // Link styling within meta-title
  > a {
    @include link() {
      color: palette("black");
      text-decoration: none;
    }

    @include link-hover() {
      color: palette("black");
      text-decoration: underline;
    }
  }
}

// Featured meta is slightly larger for added prominence
.meta--featured {
  font-size: ms(-1, $thread: large);
}

// 'Highlight' modifier, essentially a more prominant meta, can often paired with standard 'meta' for nice headings etc
.meta--highlight {
  &,
  & > a {
    color: tint(palette("primary"), "darken");
  }

  > a {
    @include link() {
      color: tint(palette("primary"), "darken");
    }

    @include link-hover() {
      color: tint(palette("primary"), "darken");
    }
  }
}

.meta--grey {
  &,
  & > a {
    color: tint(palette("grey"), "darken", 5);
  }

  > a {
    @include link() {
      color: tint(palette("grey"), "darken", 5);
    }

    @include link-hover() {
      color: tint(palette("grey"), "darken", 6);
    }
  }
}

.meta--tight {
  letter-spacing: rem-calc(1);
}
