// ==========================================================================
// Paragraph Atom
// ==========================================================================

p {
  // All paragraphs have margin set in em
  margin: 0 0 1em 0;
  font-size: ms(0);

  @include respond-to(medium) {
    font-size: ms(1, $thread: small);
  }
}
