// ==========================================================================
// Table Atom
// ==========================================================================

table {
    border-collapse: collapse;
    border: 1px solid #e7e7e7;
    margin: spacing(base 0);
    max-width: 100%;
    overflow-x: scroll;

    caption {
        color: palette("primary");
//        font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
        font-size: ms(1);
        font-weight: 700;
        padding: rem-calc(13) 0;
        text-align: left;
    }

    td {
        vertical-align: top;
    }

    th {
        background: palette("grey");
//        font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
        text-align: left;
        vertical-align: middle;
    }

    td,
    th {
        font-size: ms(0);
        border: 1px solid #e7e7e7;
        padding: rem-calc(13) rem-calc(26);
    }

    tfoot td {
        background: palette("grey");
        text-align: left;
        vertical-align: bottom;
    }
}
