// ==========================================================================
// Avatar Atom
// ==========================================================================

.avatar {
  width: rem-calc(40);
  height: rem-calc(40);
  background: #eee;
  border-radius: 100%;

  img {
    border-radius: 100%;
    mac-width: 100%;
  }
}
