// ==========================================================================
// Cite Atom
// ==========================================================================

// Default HTML element + specific class overwrites
cite,
.cite {
  font-family: "Roboto";
  font-size: ms(-1, $thread: large);
  font-style: normal;
  font-weight: bold;
}
