{%- set noPad = false -%}
{%- if _target.context.preview and 'noPad' in _target.context.preview -%}
  {%- set noPad = true -%}
{%- endif -%}

{%- set spritePath = 'http://' ~ assetHostname ~ ':' ~ assetPort ~ '/img/icons.svg' %}
{%- if isBuild -%}
  {%- set spritePath = 'img/icons.svg' -%}
{%- endif -%}
<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <title>Preview Layout</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FontAwesome -->
    <link rel="stylesheet" type="text/css" media="screen" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">

    {% if isBuild %}
      <link media="all" rel="stylesheet" href="{{ 'shu-design-system-base.css' | rev | path }}">
    {% endif %}

    <!-- Inline styling for Preview context logic at the top of this file -->
    <style>
      body {
        {% if dark %}

        margin: 25px !important;
        background: black;
        background: white;
        {% else %}
        {% endif %}
        {% if not noPad %}
        {% endif %}
      }
    </style>
  </head>
  <script>
    window.SHU = {
      modules: {},
      addModule: function(name, config) {
        this.modules[name] = this.modules[name] || [];
        this.modules[name].push(config);
      },
      DEBUG: 1,
    };
    (function(){
      var docEl = document.documentElement;
      docEl.classList.remove('no-js');
      docEl.classList.add('js', 'js-loading');
    }());

    {# Ajax in SVG sprite #}
    (function(){
      var ajax = new XMLHttpRequest();
      ajax.open("GET", "{{ spritePath }}", true);
      ajax.send();
      ajax.onload = function(e) {
        var div = document.createElement("div");
        div.hidden = true;
        div.innerHTML = ajax.responseText;
        document.body.insertBefore(div, document.body.childNodes[0]);
      }
    }());
  </script>

  <!-- contenteditable so we can easily mess with content within Fractal -->
  <body class="js forms" contenteditable="contenteditable">
    {% if _target.status.label == 'Deprecated' %}
        <h2 style="color: {{ _target.status.color }};">{{ _target.status.label }} - {{ _target.status.description }}</h2>
    {% endif %}
    <div class="shu-design-system-v1-0">
      {{ yield | safe }}
    </div>
  </body>

  {% if isBuild %}
    <script src="{{ 'chunk-vendors.js' | rev | path }}"></script>
    <script src="{{ 'shu-design-system-base.js' | rev | path }}"></script>
  {% else %}
    <script src="http://{{ assetHostname }}:{{ assetPort }}/js/chunk-vendors.js"></script>
    <script src="http://{{ assetHostname }}:{{ assetPort }}/js/shu-design-system-base.js"></script>
  {% endif %}

</html>
