// ==========================================================================
// Lists Atom
// ==========================================================================

// The base list styles
%list-base {
  font-size: ms(1, $thread: small);
  list-style-position: inside;
  padding-left: 0;
  margin: 0 0 1em 0;

  li {
    margin-bottom: 0.5em;
  }
}

@mixin list--bullet {
  // Extend the base list styles set above
  @extend %list-base;

  list-style-position: outside;
  margin: 0 0 1em 1em;

  li {
    padding-left: 0.5em;
  }
}

@mixin list--numbered {
  @extend %list-base;

  counter-reset: list;

  ol {
    // Reset the counter for nested ol's
    counter-reset: list;
  }
}

ul {
  @include list--bullet;
}

@mixin list-unstyled {
  margin: 0;
  list-style: none;

  @include respond-to(medium) {
    margin: 0;
  }

  li {
    padding: 0;

    &::before,
    &::after {
      display: none;
    }
  }
}

.list--unstyled {
  @include list-unstyled();
}

.list--inset {
  padding-left: spacing(15);
}

.list-inset-wrap {
  & > ul {
    padding-left: spacing(15);
  }
}

.list--css-col {
  margin: 0;
  columns: 1;

  @include respond-to(small) {
    column-gap: rem-calc(50);
    columns: 2;
  }

  @include respond-to(medium) {
    columns: 3;
  }

  li {
    padding-left: 0;
    margin: 0;
  }
}

.list--css-col--single {
  columns: 1;

  @include respond-to(small) {
    columns: 1;
  }

  @include respond-to(medium) {
    columns: 1;
  }
}

// Declare the numbered list styling on both the modifier class and globally to all ol's
ol {
  @include list--numbered;
}
