// ==========================================================================
// Chevron Atom
// ==========================================================================

// Build the actual chevron using borders
@mixin chevron {
  position: relative;
  //top: 0.15em;
  //left: 0.15em;

  display: block;
  height: .5em;
  width: .5em;

  // width: rem-calc(5);
  // height: rem-calc(5);
  border-width: rem-calc(2 2 0 0);
  border-style: solid;
  content: "";
  transform: rotate(135deg);
  // vertical-align: top;
}

@mixin chevron-primary {
  &::before {
    border-color: palette("primary");
  }
}

@mixin chevron-white {
  &::before {
    border-color: white;
  }
}

// Init the default chevron (points down)
.chevron {
//  width: rem-calc(8);
//  height: rem-calc(8);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 1em;
  height: 1em;

  &::before {
    @include chevron;
  }
}

.chevron--inline {
  // display: flex;
  // align-items: center;
  &::before {
  //  top: 0.3em;
  }
}

// Chevron points right
.chevron--right {
  &::before {
    left: 0;
    transform: rotate(45deg);
  }
}

// Chevron points up
.chevron--up {
  &::before {
    top: 0;
    transform: rotate(-45deg);
  }
}

// Chevron points left
.chevron--left {
  &::before {
    left: 0.25em;
    transform: rotate(-135deg);
  }
}

// Primary coloured Chevron modifier
.chevron--primary {
  @include chevron-primary;
}

// Black forced chevron
.chevron--black {
  &::before {
    border-color: black;
  }
}

// White coloured Chevron modifier
.chevron--white {
  @include chevron-white;
}
