// ==========================================================================
// Micro Text Atom
// ==========================================================================

// Micro Text
.micro {
  font-size: ms(-2);
  line-height: 1.66;
}

.micro--mid {
  font-size: ms(-1);
  line-height: 1.66;
}
