// ==========================================================================
// Page Title Atom
// ==========================================================================

.page-title {
  font-size: ms(4, $thread: small);
  margin: 0 0 0.5em 0;
  padding: 0;

  @include respond-to(medium) {
    font-size: ms(3, $thread: large);
  }
}

.page-title--small {
  font-size: ms(3);

  @include respond-to(medium) {
    font-size: ms(4, $thread: small);
  }
}
