// ==========================================================================
// Micro Text Atom
// ==========================================================================

// Micro Text
.page-title {
  padding: 0;
  margin: 0 0 0.5em 0;
  color: palette("black");
  font-family: "stolzl", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: ms(6);
  font-weight: 500;
  line-height: 1.2;

  @include respond-to(medium) {
    font-size: ms(10);
  }
}

.page-title--small {
  font-size: ms(6);
  line-height: 1.2;

  @include respond-to(medium) {
    font-size: ms(8);
  }
}
