// ==========================================================================
// Links Atom
// ==========================================================================
a,
.link {
  // Default link uses the primary palette
  @include link() {
    color: palette("primary");
    font-weight: 500;
    text-decoration: underline;
    text-decoration-skip-ink: auto;
  }

  @include link-hover() {
    color: tint(palette("primary"), "darken");
  }

  &:focus {
    outline: 1px dotted palette("black");
  }

  &:active {
    outline: none;
  }
}

// Remove all styling for a 'plain' modifier
.link--plain {
  @include link() {
    color: currentColor;
    text-decoration: none;
  }
}

.link--black {
  @include link() {
    color: palette("black");
  }

  @include link-hover() {
    color: palette("black");
  }
}

.link--white {
  @include link() {
    color: white;
  }

  @include link-hover() {
    color: white;
  }
}

// Block display modifier
.link--block {
  display: block;
}
