// ==========================================================================
// Blockquote Atom
// ==========================================================================

blockquote {
  font-size: ms(0, $thread: large);
  margin: spacing(25 0);
  position: relative;
  text-align: left;

  // Font sizing and params for quote icons before and after text
  &::before {
    content: "“";
    display: block;
    font-size: ms(4);
    left: -0.5em;
    line-height: 1;
    margin-right: spacing(3);
    position: absolute;
    top: -.05em;
  }
}
