// ==========================================================================
// Logo Atom
// ==========================================================================

.logo {
  width: rem-calc(80);
  fill: white;

  @include respond-to(medium) {
    width: rem-calc(130);
  }

  @include link-hover() {
    opacity: 0.85;
  }
}
