// ==========================================================================
// Button Atom
// ==========================================================================

@mixin btn() {
  display: inline-block;
  padding: spacing(14 19.5);
  border-radius: rem-calc(3);
  font-family: $font-sans;
  font-size: ms(1, $thread: small);
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  transition: all ease 150ms;
  vertical-align: middle;

  @include link() {
    border: rem-calc(2) solid palette("black");
    background: none;
    background-color: transparent;
    color: palette("black");
    text-decoration: none;
  }

  @include link-hover() {
    border: rem-calc(2) solid palette("primary");
    color: palette("primary");
  }
}

// Base btn styling
.btn {
  @include btn();
}

button {
  background-color: transparent;
  border: transparent;
  padding: 0;
}

@mixin btn-primary() {
  @include link() {
    border: rem-calc(2) solid palette("primary");
    background: palette("primary");
    color: white;
  }

  @include link-hover() {
    border: rem-calc(2) solid tint(palette("primary"), "darken");
    background: tint(palette("primary"), "darken");
    color: white;
  }
}

// Primary btn uses the same styling as the default btn with the projects primary
// palette colours applied
.btn--primary {
  @include btn-primary();
}

.btn--white {
  @include link() {
    border: rem-calc(2) solid transparent;
    background: palette("white");
    color: palette("primary") !important;
  }

  @include link-hover() {
    background: rgba(255, 255, 255, 0);
    color: palette("white") !important;
  }
}

// Naked btn share the same spacing params as btn however dont have a background color,
// can be used for example to place a link inline next to a button to give the effect
// of the proper vertical alignment
.btn--naked {
  @include link() {
    border: none;
    background-color: transparent;
    background-image: none;
    color: palette("black");
  }

  @include link-hover() {
    border: none;
    color: palette("primary");
  }
}

// Small modifier, halves the padding params of whichever btn it's applied to
.btn--small {
  padding: spacing(7 10 6 10);
  font-size: ms(0);
}

// Modifier to change the default (inline) styling to block
.btn--block {
  display: block;
}

.btn__prospectus-icon {
  display: inline-block;
  width: 21px;
  height: 17px;
  margin-right: 7px;
  background-image: url(https://www.shu.ac.uk/assets/images/icons/book.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  vertical-align: middle;
}

// Modifier for disabled buttons
.is--disabled {
  opacity: 0.15;

  @include link() {
    pointer-events: none;
  }

  @include link-hover() {
    cursor: not-allowed;
  }
}
