// ==========================================================================
// Blockquote Atom
// ==========================================================================

blockquote {
  position: relative;
  margin: spacing(25 0);
  text-align: left;

  // Font sizing and params for quote icons before and after text
  &::before {
    position: absolute;
    left: -0.5em;
    display: block;
    font-size: ms(4);
    // vertical-align: baseline;
  }

  // The '“' quote icon before the text
  &::before {
    margin-right: spacing(3);
    content: "“";
  }
}
