// ==========================================================================
// Meta Atom
// ==========================================================================

.meta {
  display: block;
  padding-bottom: spacing(base);
  font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: ms(-3);
  font-weight: bold;
  letter-spacing: rem-calc(3);
  line-height: 1.44;
  text-transform: uppercase;

  // Color any element within the meta-title
  &,
  & > a {
    color: palette("black");
  }

  // Link styling within meta-title
  > a {
    @include link() {
      color: palette("black");
      text-decoration: none;
    }

    @include link-hover() {
      color: palette("black");
      text-decoration: underline;
    }
  }
}

// Featured meta is slightly larger for added prominence
.meta--featured {
  font-size: ms(-2);
}

// 'Highlight' modifier, essentially a more prominant meta, can often paired with standard 'meta' for nice headings etc
.meta--highlight {
  &,
  & > a {
    color: tint(palette("primary"), "darken");
  }

  > a {
    @include link() {
      color: tint(palette("primary"), "darken");
    }

    @include link-hover() {
      color: tint(palette("primary"), "darken");
    }
  }
}

.meta--grey {
  &,
  & > a {
    color: tint(palette("grey"), "darken", 5);
  }

  > a {
    @include link() {
      color: tint(palette("grey"), "darken", 5);
    }

    @include link-hover() {
      color: tint(palette("grey"), "darken", 6);
    }
  }
}

.meta--tight {
  letter-spacing: rem-calc(1);
}
